:root {
  --primaryColor: rgb(100, 100, 250);
}

.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.Header {
  padding-left: 3vw;
  padding-right: 3vw;
  width: 94vw;
  height: 5vh;
  display: flex;
  border-bottom: solid rgba(0, 0, 0, 0.2);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Side-left {
  display: flex;
  justify-content: flex-start;
  border-right: solid rgba(0, 0, 0, 0.2);
  padding: 2vw;
  min-height: 85vh;
  flex-direction: column;
  align-items: center;
}

.u-List-sidedrawer {
  padding-inline-start: 0px;
}

.mainpage {
  display: flex;
}

.mainpage-middle {
  width: 50vw;
  padding: 2vw;
  border-right: solid rgba(0, 0, 0, 0.2);
  min-height: 85vh;
}

.mainpage-right {
  padding: 2vw;
}

.Page {
  display: flex;
  flex-direction: row;
}

.pokemonList {
  display: flex;
  justify-content: space-evenly;
}

h1 {
  color: var(--primaryColor);
}

h2 {
  color: var(--primaryColor);
}

h3 {
  color: var(--primaryColor);
}

img {
  filter: grayscale(var(--alive));
}

button {
  background-color: var(--primaryColor);
  color: white;
}

.button-near-text {
  margin-left: 2em;
}

select {
  background-color: var(--primaryColor);
  color: white;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-justify-end {
  display: flex;
  justify-content: end;
}
